.top-bar {
  background-color: #5e068a;
  color: white;
  margin-top:  2px;


}
.carousel-inner {
    height: 450px;
  }

  .photo {
    height: 400px;
  }

  .main {
    margin-bottom: 12px;
    text-align: left;
    margin-left: -74px;

  }
  @media (max-width: 846px){
.main{
    font-size: 25px;
    margin-bottom: 5px;
    text-align: left;
    margin-left: -35px;
}
.carousel-caption{
  font-size: 20px;
  margin-left: 50px;
}

  }
  
  .main1 {
    margin-bottom: 6px;
    text-align: left;
    margin-left: -69px;

  }

@media (max-width: 846px){
.main1{
  font-size: 25px;
  margin-left: -50px;
}
}


  .sub {
    margin-bottom: 5px;
    text-align: left;
    margin-left: -69px;

  }
  @media (max-width: 846px){
    .sub{
      font-size: 15px;margin-bottom: 5px;
      text-align: left;
      margin-left: -37px;

    }
    }


  .sub1 {
    margin-bottom: 50px;
    text-align: left;
    margin-left: -69px;
  }
  @media (max-width: 846px){
    .sub1{
      font-size: 15px;
      margin-bottom: 18px;
    text-align: left;
    margin-left: -49px;
    }
    }
    

  .course {
    background-color: #5e068a;
    color: white;
    border-radius: 25px;
    margin-left: -70px;
    margin-bottom: 112px;
    text-align: left;
    font-size: small;
  }
  @media (max-width: 846px){
    .course{
      margin-left: -40px;
    }
    }


  .course:hover {
    background-color: rgb(211, 203, 203);
  }

  .course1 {
    background-color: #5e068a;
    color: white;
    border-radius: 25px;
    font-size: small;
    margin-left: -70px;
    margin-bottom: 63px;
  }
  @media (max-width: 846px){
    .course1{
      margin-left: -56px;
    margin-bottom: 55px;
    }
    }


  .course1:hover {
    background-color: rgb(211, 203, 203);

  }

  .bor {
    border: 0px;
  }

  .foot {
    background-color: #5e068a;
    color: white;
  }
  .first{
    color: #5e068a;

  }
  .second{
    color: #5e068a;

  }
  .third{
   color: #5e068a;
    


  }
  .learn{
    background-color: #5e068a;
    color: white;
    border-radius: 35px;
    font-size: small;


  }
  .pic{
    /* width: 150%; */
    height: 450px;
  }
  @media (max-width: 846px){
    .pic{
  height: 350px;  }
    }
  
  .co{
    color: #5e068a;
    
  }
  .shade{
color: rgb(157, 157, 230);
  }
  .pic1{
    width: 300px;
    height: 126px;  }
    
.r-img {
  width: 100%;
  height: 525.5px;
}

.fifth{
  background-color: #f5f5f5;
}
.fifth-h2{
  color:#5e068a;
  font-weight: 600;
}
.fifth-span1{
  color: #9e6ab9;
  font-weight: 600;
}

.r-img2{
  width:100%;
  margin-left: -23px;

}
.datascience{
  line-height: 1.8;
  font-size: smaller;
}
.fifth-one{
  transition: margin-top 0.10s;

}


.fifth-one:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top:-3px;


}
.fifth-h4{
  font-weight: 500;
}
.fifth-link1{
  color:#5e068a;
  background-color: transparent;
  text-decoration: none;
}
.fifth-link2{
  color:#5e068a;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 600;
}
.box-color{
  background-color:#5e068a ;
  color: white;
}
.decor{
  color:#5e068a ;
  text-decoration: none;
}
.decor1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
transition: 1s ease-in-out;
}
.decor1:hover{
  transform: scale(1.05);

}
.rad{
  border-radius: 0px;
}
.card{
  height: 470px;
  width: 90%;
}
.last-btn{
  border: 2px solid #5e068a;
  width: 169px;
  height:60px;
  border-radius: 50px;
  color:#5e068a;
  font-weight: 600;
}
.last-btn:hover{
  background-color: #5e068a;
  color: white;
}
@media (max-width: 846px){
  .logo{
width: 150px;
height: 50px;  }
  }
  @media (max-width: 649px){
    .last-btn{ 
      margin-left: 75px; 
 }
    }

  


